<!doctype html>
<html lang="en">
<head>
    <meta charset="1">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Video Request</h1>
        <form action="" method="POST">

            <div>
                <label for="request">Request</label>

                <textarea name="request" id="request" cols="30" rows="10"></textarea>
            </div>

            <div>

                <label for="name">Name</label>

                <input type="text" id="name" name="name" />

            </div>

            <div>

                <label for="surname">surname</label>

                <input type="text" id="surname" surname="surname" />

            </div>

            <button type="submit">Submit</button>

        </form>
</body>
</html>
